# Arquivo de configurações raiz
root = true

# Em todos os arquivos:
# - Indentar arquivos com espaço
# - Adicionar end-lines do estilo unix.
# - Inserir linha no final do arquivo.
# - Definir o charset como UTF-8
# - Remover espaços em branco
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Em arquivos .py:
# - Indentar com 4 espaços
# - Definir o tamanho maximo da linha para 119 chars
[*.py]
indent_size = 4
max_line_length = 119

# Em arquivos .html:
# - Indentar com 2 espaços
[*.html]
indent_size = 2

# Em arquivos .json:
# - Indentar com 2 espaços
# - Não inserir linha no final do arquivo
[*.json]
indent_size = 2
insert_final_newline = false

[*.config]
indent_size = 2
insert_final_newline = true

# Em arquivos .js, .jsx:
# - Indentar com 2 espaços
[*.{js, jsx, ts, tsx}]
indent_size = 2

[*.{css, scss}]
indent_size = 2

[*.{mdx}]
indent_size = 2
